/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/* === 名字 + icon 容器 === */
.name-and-icons {
  display: flex;
  flex-wrap: wrap; /* ✅ 內容太長自動換行 */
  align-items: center;
  gap: 16px; /* 名字與 icon 間距 */
  margin-bottom: 8px; /* 與 subtitle 分開 */
}

/* === icon 設定 === */
.name-and-icons .contact-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 8px;
  font-size: 3rem;
  a {
    display: inline-flex;
    align-items: center;

    svg {
      width: 3.5rem;
      height: 4rem;
      margin-bottom: 0.5rem;

      image {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    // i::before {
    //   color: var(--global-text-color);
    //   transition-property: all 0.2s ease-in-out;
    // }

    &:hover {
      text-decoration: none;

      i::before {
        color: var(--global-theme-color);
      }
    }
  }
}

// /* subtitle 永遠另起一行 */
// .post-header .desc {
//   width: 100%;
//   display: block;
//   margin-top: 4px;
// }

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
