/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// Name + Icon Container
.name-and-icons {
  display: flex;
  flex-wrap: wrap; // Automatically wrap content if too long
  align-items: center;
  gap: 16px; // Spacing between name and icons
  margin-bottom: 8px; // Space between this and subtitle
}

// icon settings
.name-and-icons .contact-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 8px;
  font-size: 3rem;
  a {
    display: inline-flex;
    align-items: center;

    svg {
      width: 3.5rem;
      height: 4rem;
      margin-bottom: 0.5rem;

      image {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    &:hover {
      text-decoration: none;

      i::before {
        color: var(--global-theme-color);
      }
    }
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
